import pandas as pd

In [10]:
import pandas as pd
index = [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]
df = pd.DataFrame({
    'Total Number of matches': ['?'] * len(index),
    'Number of matches Team Batting First Won(Column Q)': ['?'] * len(index),
    'Number of matches team Chasing Won(Column Q)': ['?'] * len(index),
    'Number of times Match Tied(Column Q)': ['?'] * len(index)
}, index=index)
df

,Total Number of matches,Number of matches Team Batting First Won(Column Q),Number of matches team Chasing Won(Column Q),Number of times Match Tied(Column Q)
2008,?,?,?,?
2009,?,?,?,?
2010,?,?,?,?
2011,?,?,?,?
2012,?,?,?,?
2013,?,?,?,?
2014,?,?,?,?
2015,?,?,?,?

In [11]:
data = pd.read_excel('IPL.xls')
data.head()

FileNotFoundError: [Errno 2] No such file or directory: 'IPL.xls'

In [32]:
# Using Sir MEthod find all 3 values
for ind in df.index:
    df.loc[df.index == ind,'Total Number of matches'] = data[data.Year == ind].shape[0]
    df.loc[df.index==ind,'Number of matches Team Batting First Won(Column Q)'] = data[(data.Year == ind) & (data.Winning_Team == 'FirstBatting')].shape[0]
    df.loc[df.index==ind,'Number of matches team Chasing Won(Column Q)'] = data[(data.Year == ind) & (data.Winning_Team == 'Chasing')].shape[0]
    df.loc[df.index==ind,'Number of times Match Tied(Column Q)'] = data[(data.Year == ind) & (data.Winning_Team == 'Tied')].shape[0]
df

,Total Number of matches,Number of matches Team Batting First Won(Column Q),Number of matches team Chasing Won(Column Q),Number of times Match Tied(Column Q)
2008,58,22,36,0
2009,57,26,30,0
2010,60,31,28,0
2011,72,32,40,0
2012,74,34,40,0
2013,76,37,37,0
2014,60,22,37,0
2015,57,32,24,0

In [33]:
# total number of matches year wise

In [34]:
match_yearwise_count = data['Year'].value_counts().sort_index()
match_yearwise_count

Year
2008    58
2009    57
2010    60
2011    72
2012    74
2013    76
2014    60
2015    57
Name: count, dtype: int64

In [35]:
# number of matches winningteam type FirstBatting

In [36]:
col = data[['Year','Winning_Team']]
col

     Year  Winning_Team
0    2008  FirstBatting
1    2008  FirstBatting
2    2008       Chasing
3    2008       Chasing
4    2008       Chasing
..    ...           ...
509  2015       Chasing
510  2015  FirstBatting
511  2015  FirstBatting
512  2015       Chasing
513  2015  FirstBatting

[514 rows x 2 columns]

In [37]:
Firstbatting = col[col['Winning_Team']=='FirstBatting'].groupby('Year').value_counts()
Firstbatting

Year  Winning_Team
2008  FirstBatting    22
2009  FirstBatting    26
2010  FirstBatting    31
2011  FirstBatting    32
2012  FirstBatting    34
2013  FirstBatting    37
2014  FirstBatting    22
2015  FirstBatting    32
Name: count, dtype: int64

In [38]:
# number of matches type chasing

In [39]:
chasing = col[col['Winning_Team']=='Chasing'].groupby('Year').value_counts()
chasing

Year  Winning_Team
2008  Chasing         36
2009  Chasing         30
2010  Chasing         28
2011  Chasing         40
2012  Chasing         40
2013  Chasing         37
2014  Chasing         37
2015  Chasing         24
Name: count, dtype: int64

In [40]:
# number of matches type match tied

In [41]:
TiedMatch = col[col['Winning_Team']=='Match Tied'].groupby('Year').value_counts()
TiedMatch

Year  Winning_Team
2009  Match Tied      1
2010  Match Tied      1
2013  Match Tied      2
2014  Match Tied      1
2015  Match Tied      1
Name: count, dtype: int64

In [42]:
# Venue most have name and size

In [8]:
venue_counts = data['Venue'].value_counts()
most_common_venue = venue_counts.idxmax()
most_common_venue_count = venue_counts.max()

print(most_common_venue,most_common_venue_count)

NameError: name 'data' is not defined

In [44]:
row_find = data.loc[data['Bat_First_Run_Rate'].idxmax()]

match_no = row_find['Match_Number']

team_batting_first = row_find['Team_Batting_First']
runs_scored = row_find['Bat_First_Runs_Scored']
overs_consumed = row_find['Bat_First_Overs_Consumed']

match_info = {
    'Match_Number': match_no,
    'Team_Batting_First': team_batting_first,
    'Runs_Scored': runs_scored,
    'Overs_Consumed': overs_consumed
}

match_info

{'Match_Number': 391,
 'Team_Batting_First': 'Bangalore',
 'Runs_Scored': 106,
 'Overs_Consumed': 8.0}