In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('IPL.xls')
data

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
0,1,League Match,Apr 18,2008,Bangalore,Kolkata,Bangalore,222,3,20.0,...,51.0,7.0,17.2,81.0,9.0,28.4,NaN,NaN,Evening,NaN
1,2,League Match,Apr 19,2008,Mohali,Chennai,Punjab,240,5,20.0,...,110.0,1.0,13.1,165.0,3.0,15.2,207.0,4.0,Afternoon,NaN
2,3,League Match,Apr 19,2008,Delhi,Rajasthan,Delhi,129,8,20.0,...,86.0,1.0,4.4,128.0,1.0,0.4,NaN,NaN,Evening,NaN
3,4,League Match,Apr 20,2008,Kolkata,Hyderabad,Kolkata,110,10,18.4,...,38.0,3.0,7.3,81.0,4.0,6.0,NaN,NaN,Afternoon,NaN
4,5,League Match,Apr 20,2008,Mumbai,Mumbai,Bangalore,165,6,20.0,...,76.0,3.0,9.0,118.0,4.0,9.6,166.0,5.0,Evening,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,510,League Match,May 17,2015,Hyderabad,Hyderabad,Mumbai,113,10,20.0,...,73.0,0.0,4.1,NaN,NaN,NaN,NaN,NaN,Evening,NaN
510,511,Qualifier 1,May 19,2015,Mumbai,Mumbai,Chennai,187,6,20.0,...,86.0,2.0,10.2,121.0,6.0,13.4,NaN,NaN,Evening,NaN
511,512,Eliminator,May 20,2015,Pune,Bangalore,Rajasthan,180,4,20.0,...,68.0,3.0,11.3,92.0,7.0,17.8,NaN,NaN,Evening,NaN
512,513,Qualifier 2,May 22,2015,Ranchi,Bangalore,Chennai,139,8,20.0,...,62.0,3.0,7.8,91.0,3.0,9.8,140.0,7.0,Evening,NaN
513,514,Final,May 24,2015,Kolkata,Mumbai,Chennai,202,5,20.0,...,67.0,1.0,13.6,112.0,4.0,18.2,161.0,8.0,Evening,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 43 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Match_Number                514 non-null    int64
 1   Match                       514 non-null    object
 2   Date                        514 non-null    object
 3   Year                        514 non-null    int64
 4   Venue                       514 non-null    object
 5   Team_Batting_First          514 non-null    object
 6   Team_Batting_Second         514 non-null    object
 7   Bat_First_Runs_Scored       514 non-null    int64
 8   Bat_First_Wickets_Lost      514 non-null    int64
 9   Bat_First_Overs_Consumed    514 non-null    float64
 10  Bat_First_Overs_Allocated   514 non-null    int64
 11  Bat_Second_Runs_Scored      514 non-null    int64
 12  Bat_Second_Wickets_Lost     514 non-null    int64
 13  Bat_Second_Overs_Consumed   514 non-null    float64
 14  Bat_Second_Overs_Allocated  514 non-null    float64
 15  Winner                      514 non-null    object
 16  Winning_Team                514 non-null    object
 17  Winning_Margin              508 non-null    float64
 18  Win_Type                    508 non-null    object
 19  Bat_First_Run_Rate          514 non-null    float64
 20  Bat_Second_Run_Rate         514 non-null    float64
 21  Balls_Remaining             514 non-null    float64
 22  Bat_First_5_ov_score        514 non-null    int64
 23  Bat_First_5_ov_wkts_lost    514 non-null    int64
 24  Bat_First_10_ov_score       513 non-null    float64
 25  Bat_First_10_ov_wkts_lost   513 non-null    float64
 26  Bat_First_15_ov_score       506 non-null    float64
 27  Bat_First_15_ov_wkts_lost   506 non-null    float64
 28  Bat_First_20_ov_score       501 non-null    float64
 29  Bat_First_20_ov_wkts_lost   501 non-null    float64
 30  Bat_Second_5_ov_score       514 non-null    int64
 31  Bat_Second_5_ov_wkts_lost   514 non-null    int64
 32  Bat_Second_5_ov_Req_RR      512 non-null    float64
 33  Bat_Second_10_ov_score      506 non-null    float64
 34  Bat_Second_10_ov_wkts_lost  506 non-null    float64
 35  Bat_Second_10_ov_Req_RR     503 non-null    float64
 36  Bat_Second_15_ov_score      478 non-null    float64
 37  Bat_Second_15_ov_wkts_lost  478 non-null    float64
 38  Bat_Second_15_ov_Req_RR     468 non-null    float64
 39  Bat_Second_20_ov_score      305 non-null    float64
 40  Bat_Second_20_ov_wkts_lost  305 non-null    float64
 41  Match_Time                  514 non-null    object
 42  Duckworth Lewis Used        7 non-null      object
dtypes: float64(22), int64(11), object(10)
memory usage: 172.8+ KB

In [4]:
#(i) match is tied

In [5]:
condition1 = data['Winning_Team']=='Match Tied'
condition1

0      False
1      False
2      False
3      False
4      False
       ...
509    False
510    False
511    False
512    False
513    False
Name: Winning_Team, Length: 514, dtype: bool

In [6]:
# (ii) ball remaining at the end of the match

In [7]:
condition2 = data['Balls_Remaining']<=3
condition2

0      False
1       True
2      False
3      False
4       True
       ...
509    False
510    False
511    False
512     True
513     True
Name: Balls_Remaining, Length: 514, dtype: bool

In [8]:
# (iii) chasing team won

In [9]:
condition3 = (data['Winning_Team'] =='Chasing') & (data['Winning_Margin'] <=1 ) & (data['Win_Type'] == 'wicket')
condition3

0      False
1      False
2      False
3      False
4      False
       ...
509    False
510    False
511    False
512    False
513    False
Length: 514, dtype: bool

In [10]:
# (iv) chasing team loss

In [12]:
condition4 = (data['Winning_Team'] == 'FirstBatting') & (data['Winning_Margin'] <=5) & (data['Win_Type'] == 'run')
condition4

0      False
1      False
2      False
3      False
4      False
       ...
509    False
510    False
511    False
512    False
513    False
Length: 514, dtype: bool

In [ ]:
close_matches_condition = data[condition1 | condition2 | condition3 | condition4]

In [1]:
close_matches_per_year = close_matches_condition.groupby('Year').size().reset_index(name='Close_Matches')
close_matches_per_year

NameError: name 'close_matches_condition' is not defined

In [ ]:
# Task 2

In [ ]:
CSK_A = (data['Winner']=='Chennai').sum()
CSK_A

In [ ]:
CSK_B = (data['Winner']=='Chennai') & (data['Winning_Team']=='FirstBatting')
CSK_B.sum()

In [ ]:
Chennai= (CSK_B/CSK_A*100).sum()
Chennai

In [ ]:
SRH_A = (data['Winner']=='Hyderabad').sum()
SRH_A

In [ ]:
SRH_B = (data['Winner']=='Hyderabad') & (data['Winning_Team']=='FirstBatting')
SRH_B.sum()

In [ ]:
Hydrabad= (SRH_B/SRH_A*100).sum()
Hydrabad

In [ ]:
MI_A = (data['Winner']=='Mumbai').sum()
MI_A

In [ ]:
MI_B = (data['Winner']=='Mumbai') & (data['Winning_Team']=='FirstBatting')
MI_B.sum()

In [ ]:
Mumbai= (MI_B/MI_A*100).sum()
Mumbai

In [ ]:
KKR_A = (data['Winner']=='Kolkata').sum()
KKR_A

In [ ]:
KKR_B = (data['Winner']=='Kolkata') & (data['Winning_Team']=='FirstBatting')
KKR_B.sum()

In [ ]:
Kolkata= (KKR_B/KKR_A*100).sum()
Kolkata